/Library/ 
/Temp/ 
/Obj/ 
/Build/ 
/Builds/ 
/UserSettings/ 
/.vs/ 
*.csproj 
*.unityproj 
*.sln 
*.suo 
*.tmp 
*.user 
*.userprefs 
*.pidb 
*.booproj 
*.svd 
*.pdb 
*.mdb 
*.opendb 
*.VC.db 
*.pidb.meta 
*.pdb.meta 
*.mdb.meta 
*.opendb.meta 
*.VC.db.meta 
.DS_Store 
.idea/ 
*.tps 
